

.cell {
    --size:  3ch;
    min-height: var(--size);
    min-width: var(--size);
    aspect-ratio: 1;
    border: 1px solid;

    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: 700;

    cursor: pointer;
}

.cell:is(:hover, :focus) {
    background: var(--primary-dark);
}

.cell[aria-disabled='true'] {
    cursor: no-drop;
    pointer-events: none;
    background: var(--primary-dark);
}