.modal[open] {
    margin: auto;
    color: inherit;
    min-width: 200px;
    padding: 1rem;
    border-radius: .25rem;
    display: grid;
    gap: 1rem;
    text-align: center;
    border: 1px solid var(--primary-dark);
    background: var(--primary);
}


.modal::backdrop {
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, .5);
}